/statics/fb_uploads/*
/statics/captcha/*
/application/cache/*
!/application/cache/index.html
!/application/cache/.htaccess
/application/logs/*
!/application/logs/index.html
!/application/logs/.htaccess
.codeIgniter_2.1.4.zip
