/statics/fb_uploads/
/application/cache/*
!/application/cache/index.html
!/application/cache/.htaccess
/application/logs/*
!/application/logs/index.html
!/application/logs/.htaccess
/.codeIgniter_2.1.4.zip
